# Exercise 4.6 - Combining & Exporting Data

## 01. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Importing dataframes

In [35]:
# Create folder path

path = r'/Users/edytakowal/Desktop/Instacart Basket Analysis/02 Data'

### df_ords_prior

In [36]:
# Import dataframe 'orders_products_prior.csv' as df_ords_prior

df_ords_prior = pd.read_csv(os.path.join(path, 'Oryginal Data', 'orders_products_prior.csv'), index_col = False)

In [39]:
# Check the output 

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [37]:
# Check the dimensions of the df_ords_prior

df_ords_prior.shape

(32434489, 4)

### df_ords

In [ ]:
# # Import dataframe 'orders_checked.csv' as df_ords

df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [40]:
# Check the output

df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [42]:
# Check the dimensions of the df_ords

df_ords.shape

(3421083, 8)

## 03. Merging data

In [43]:
# Merge df_ords_prior and df_ords using 'order_id' column as a key

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [45]:
# Check the output 

df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [50]:
# Sum up all the values in the “_merge” column, to see whether there's a full match or not

df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [ ]:
# Check whether there's really a full match requires 'outer' join

# df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

## 04. Exporting Data

In [52]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'))

In [53]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

# Task 4.6

## 01. If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

## 02. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [ ]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

## 03. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.